h1 {
  font-family: 'Paytone One', sans-serif;
  text-align: center;
}

.blogpost-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.blogpost-card {
  width: 25em;
}

.blogpost-card > img {
  object-fit: cover;
  width: 25em;
  height: 20em;
}

.breadcrumb {
  display: flex;
  justify-content: center;
}

.blogpost-card-wrapper {
  display: flex;
  justify-content: center;
}

.blogpost-footer > p {
  max-width: 50em;
  text-align: left;
}

.blogpost-footer > img {
  object-fit: cover;
  width: 100%;
  max-width: 50em;
  
}

.add-comment-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.comment-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.blogpost-comment {
  flex-grow: 1;
  max-width: 42em;
}

.create-blogpost-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.modal-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  margin-top: 3em;
}

@media screen and (max-width: 30em) {
  .comment-wrapper {
    flex-direction: column;
    align-items: stretch;
    margin: 0 1em 0 1em;
  }

  .blogpost-comment {
    order: 1;
  }
}