.App {
  text-align: center;
}

.blogpost-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.blogpost-card {
  width: 25em;
}

img {
  object-fit: cover;
  width: 25em;
  height: 20em;
}
